/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&family=Titillium+Web:wght@300;400;600;700&display=swap");

/* other css file import */
@import url("sections/about.css");
@import url("sections/blog.css");
@import url("sections/contact.css");
@import url("sections/index.css");
@import url("sections/pricing.css");
@import url("sections/projects.css");
@import url("sections/services.css");
@import url("sections/team.css");

/* css variable */
:root {
  --bg-primary: #ffffff;
  --bg-secondary: #1c4245;

  --text-primary: #000000;
  --text-primary-forgraund: #cccccc;
  --text-secondary: #888888;
  --button-color: #ed854a;

  --border: linear-gradient(
      90.07deg,
      rgba(28, 66, 69, 0.7) -3.8%,
      rgba(28, 66, 69, 0) 102.82%
    )
    1;

  --font-heading: "Titillium Web", sans-serif;
  --font-text: "Syne", sans-serif;
}

/* css reset styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* default styles */

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--font-text);
  overflow-x: hidden;
  overflow-wrap: unset;
}
#app {
  overflow-x: hidden;
}

.container {
  padding: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 36px;
  font-weight: 700;
  font-family: var(--font-heading);
  line-height: 50px;
}
.subTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  font-family: var(--font-text);
}

@media screen and (max-width: 1165px) {
  .container {
    padding: 2rem;
    overflow-x: hidden !important;
  }
  body {
    overflow-x: hidden !important;
  }
  #app {
    overflow-x: hidden !important;
  }
}

@media screen and (max-width: 775px) {
  .container {
    padding: 1rem;
  }
  #app {
    overflow-x: hidden !important;
  }
}
